<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        <span>
            <h2 class="ud-heading-xl styles--description__header--kcQ3V" data-purpose="description-title">Deskripsi</h2>
            <div class="show-more-module--container--teP7C">
                <div class="show-more-module--content--Rw-xr show-more-module--with-gradient--f4HoJ"
                    style="max-height:22.1rem;">
                    <div tabindex="0">
                        <div data-purpose="safely-set-inner-html:description:description">
                            <p><strong>Selamat datang di program pelatihan data science dan machine learning dengan
                                    Python!</strong></p>
                            <p>Pelatihan ini diperuntukan untuk rekan - rekan ingin belajar data science dan machine
                                learning dari sudut terapan dengan memanfaatkan Python.</p>
                            <p>Berikut ini konten yang akan diberikan pada pelatihan ini.</p>
                            <ul>
                                <li>Persiapan pelatihan</li>
                                <li>Pemrograman Python</li>
                                <li>Pengolahan dan Analisa Data - Numpy dan Pandas</li>
                                <li>Topik Khusus - Numpy dan Pandas - Database</li>
                                <li>Visualisasi Data dengan memanfaatkan library Matplotlib dan Seaborn</li>
                                <li>Topik Khusus Visualisasi Data Time Series</li>
                                <li>Dataset, Pra-Proses dan Pengurangan Dimensi Feature (Dimensionality Reduction)</li>
                                <li>Permasalahan dan Penyelesaian Kasus Linear Regression</li>
                                <li>Permasalahan dan Penyelesaian Kasus Klasifikasi (Classification)</li>
                                <li>Permasalahan dan Penyelesaian Kasus Kekelompokkan (Clustering)</li>
                                <li>Hyperparameter Tuning Untuk Model Machine Learning</li>
                                <li>Ensemble Methods</li>
                                <li>Kumpulan Studi Kasus</li>
                            </ul>
                            <p>Jika ada hal - hal yang ingin ditanyakan mengenai topik diatas, rekan - rekan dapat
                                langsung ditulisnya di ruang diskusi pada web ini sehingga rekan-rekan lainnya dapat
                                mengetahui dan ikut terlibat diskusinya.</p>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </p>
</body>

</html>